*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body{
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

#root{
  justify-content: center;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

li,a{
  display: inline-block;
  padding: 0px 9px;
  list-style: none;
  text-decoration: none;
  color: black;
}

a:hover{
  color: gray;
}

.app{
  max-width: 97%;
  margin: auto;
  background-color: #fff;
  height: 92.5vh;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}

.header{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
}

.news_card {
  display: flex;
  width: 80%;
  /* padding: 10px 0px; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
}

.news_text {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news_text_author {
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  color: #808290;
}

.lower_news_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px 0;
}

.news_text_readmore {
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
}

.source {
  text-decoration: none;
  color: black;
}

.news_image {
  object-fit: cover;
  width: 320px;
  height: 268px;
}
.news_text_title {
  font-size: 22px;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
}

/* .muted {
  font-weight: 100;
} */

.news_text_description {
  font-size: 16px;
  line-height: 22px;
  color: #44444d;
}

@media (max-width: 800px) {
  .news_card {
    flex-direction: column;
    width: 100%;
  }
  .news_image {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}

.main_newscontent{
  padding: 0 3px 0 3px;
  float: left;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  /* justify-content: center; */
  /* align-items: center; */
}

.loadMore{
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 7px 25px;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.news_category_container{
  border-right: 1px solid #ebe7fb;
  padding: 5px 3px;
  float: left;
  width: 15%;
  height: -webkit-fill-available;
}

.news_category_header{
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebe7fb;
}

.news_category_list{
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
}

.news_category_list > button{
  background-color: transparent;
  border: none;
  width: 80%;
  padding: 10px 60px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(116, 115, 115);
  border-radius: 5px;
  font-size: medium;
}

.news_category_list > button:hover{
  background-color: #ebe7fb;
  color: #060b26;
}

.navbar {
  background-color: #060b26;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button{
  color: white;
}

.menu-bars {
  margin-left: 1rem;
  margin-top: 7px;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}